.editor-panel {
  // 
  width: 400px;
  :global {
    .ant-collapse-borderless{
      background-color: #414750;
      .ant-collapse-item {
        border-color: transparent;
        .ant-collapse-header{
          color: #e5e5e5;
          user-select: none;
        }
        .ant-collapse-content{
          color: #e5e5e5;
        }
        .ant-collapse-content-box{
          padding-bottom: 4px;
        }
      }
    }
  }
}