.show-self-info {
  margin: 30px 40px 0 40px;
  // padding-bottom: 12px;
  p {
    width: 200px;
    text-align: center;
    &:first-child {
      font-size: 28px;
      color: #000;
      font-weight: 700;
    }
    margin-bottom: 0;
  }
}
