.self-education {
  .del-btn {
    display: block;
    text-align: right;
    font-size: 18px;
    cursor: pointer;
  }
  :global {
    label {
      color: #e5e5ee;
    }
    .ant-form-item {
      &:last-child {
        .ant-form-item-control {
          padding-left: 76px;
        }
      }
    }
  }
}
