.previewer {
  flex: 1;
  padding: 12px;
  display: flex;
  flex-direction: column;
  .top-title {
    width: 100%;
    background-color: #ffffff;
    padding: 5px;
    text-align: right;
    .previewer-btn {
      display: inline-block;
    }
  }
  @media print {
    .container {
      flex: 1;
      overflow: auto;
      background-color: #ffffff;
      .main-content {
        padding: 0 40px 0 40px;
      }
    }
  }
  
}